<% include head.ejs %>

<h1>Movies</h1>
<form action="/" method="post">
  <input name="startAdress" type="text" id="start"/>
  <label for="start">Testen</label>
  <input name="endAdress" type="text" id="end"/>
  <label for="end">Testen</label>
  <input type="submit" value="Send">
</form>
